<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Scores</title>
</head>
<body>
    <a href="/scores/">Mecze i wyniki</a>
    <a href="/login/">zaloguj sie</a>
    <a href="/register/">Zarejestruj sie</a>
    <a href="/">Głowna</a>
    {{ request.user.username }}
    <a href="/logout/">(wyloguj)</a>
    <a href="/scoreboard/">Tablica wyników</a>



<table>
    <tr>
        <th>Data</th>
        <th>Dzień</th>
        <th>Drużyna 1</th>
        <th>Drużyna 2</th>
        <th colspan="2">Bramki</th>
        <th></th>
        <th></th>
        {% for user in users %}
            <th colspan="2">{{ user.username }}</th>
        {% endfor %}
    </tr>
{% for match in matches %}
        <tr>
            <td>{{ match.datetime }}</td>
            <td>{{ match.day }}</td>
            <td>{{ match.team_1 }}</td>
            <td>{{ match.team_2 }}</td>
            <td align="right">{{ match.team_1_score }} :</td>
            <td align="left">{{ match.team_2_score }}</td>
            <td><a href="/addscore/{{ match.pk }}/">Wynik</a></td>
            <td><a href="/userscores/{{ match.pk }}/">Typuj wynik</a></td>
            {% for user in users %}
                {% for score in scores %}
                    {% if score.name == user %}
                        {% if score.match == match %}
                            <td align="right">{{ score.team_1_score }} :</td>
                            <td>{{ score.team_2_score }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>