<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/scores/">Mecze i wyniki</a>
    <a href="/login/">zaloguj sie</a>
    <a href="/register/">Zarejestruj sie</a>
    <a href="/">Głowna</a>
    {{ request.user.username }}
    <a href="/logout/">(wyloguj)</a>
    <a href="/scoreboard/">Tablica wyników</a>

    <table>
        <tr>
            <th>Użytkownik</th>
            <th>Ilość typowanych</th>
            <th>Trafiony wynik</th>
            <th>Trafiony zwycięzca</th>
            <th>Pkt</th>
        </tr>
    {% for score in scoreboard %}
        <tr>
            <td>{{ score.user }}</td>
            <td align="center">{{ score.matches_number }}</td>
            <td align="center">{{ score.perfect }}</td>
            <td align="center">{{ score.scored }}</td>
            <td align="center">{{ score.points }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
